In [1]:
import pandas as pd

### Load the Data
Data presents the daily temperatures between Jan 1907 - Dec 1972

In [2]:
# load data, ignores last 2 rows, makes first row the header 
# and the first column the index, renames columns
monthly_temp = pd.read_csv('Data/mean-monthly-temperature-1907-19.csv',
                          skipfooter=2,header=0,index_col = 0,
                          names=['month','temp'])
monthly_temp.head()

/Users/robertomac/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

         temp
month
1907-01  33.3
1907-02  46.0
1907-03  43.0
1907-04  55.0
1907-05  51.8

Convert the index into a Datetime object

In [3]:
monthly_temp.index = monthly_temp.index.to_datetime()
monthly_temp.head()

/Users/robertomac/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: to_datetime is deprecated. Use pd.to_datetime(...)
  if __name__ == '__main__':

            temp
1907-01-04  33.3
1907-02-04  46.0
1907-03-04  43.0
1907-04-04  55.0
1907-05-04  51.8

Resamples by the mean of each quarter, the 'label' indicates which date to use as the label (default is right)

In [4]:
monthly_temp.resample('Q',label='right').mean().head() # Q for quarterly

                 temp
1907-03-31  40.766667
1907-06-30  54.766667
1907-09-30  72.233333
1907-12-31  40.533333
1908-03-31  39.633333

In [5]:
monthly_temp.resample('Q',label='left').mean().head()

                 temp
1906-12-31  40.766667
1907-03-31  54.766667
1907-06-30  72.233333
1907-09-30  40.533333
1907-12-31  39.633333

Resamples by the sum of each year

In [6]:
monthly_temp.resample('A').sum().head() # A for Annual

             temp
1907-12-31  624.9
1908-12-31  619.6
1909-12-31  642.8
1910-12-31  670.5
1911-12-31  630.3