### Import Libraries

In [1]:
import pandas as pd

### Create Data

In [2]:
# create a dataframe with 3 columns and 3 rows
data = pd.DataFrame(
    {'A':['x','y','z'],
     'B':[1,3,5],
     'C':[2.9,3.5,4.2]})
data

   A  B    C
0  x  1  2.9
1  y  3  3.5
2  z  5  4.2

### Make 1st Column the Index

In [3]:
# make column A the index
data2 = data.set_index('A') # inplace default is False
data2

   B    C
A
x  1  2.9
y  3  3.5
z  5  4.2

In [4]:
# finds the values in the row 'x'
print('By row name:')
print(data2.loc['x'])
print('\nBy row index:')
print(data2.iloc[0])

By row name:
B    1.0
C    2.9
Name: x, dtype: float64

By row index:
B    1.0
C    2.9
Name: x, dtype: float64

### Make 2 Columns the Index

In [5]:
# make column A and B the index
data3 = data.set_index(['A','B'])
data3

       C
A B
x 1  2.9
y 3  3.5
z 5  4.2

In [6]:
# finds the values in the row 'x' '1'
print('By row name:')
print(data3.loc['x',1])
print('\nBy row index:')
data3.iloc[0]

By row name:
C    2.9
Name: (x, 1), dtype: float64

By row index:

C    2.9
Name: (x, 1), dtype: float64